body {
    background-color: #E0E0E0;
    color: black;
}
a {
    color: #666584;
}

#tablazat1 {
    width: 650px;
    text-align: center;
    background-color: rgb(102, 101, 132);
    position: relative;
    left: 14cm;
    border-collapse: separate;
    border-spacing: 1px;
    padding-right: 0px;
}
#tablazat2 {
    width: 600px;
    background-color: white;
    position: relative;
    left: 14cm;
    border-collapse: separate;
    border-spacing: 1px;
    
}
.sorok {
    height: 35px;
    background-color: rgb(205, 219, 235);
    text-align: center;
}
#szoveg {
    font-size: 11px;
} 
#kep {
    float: right;
    position: relative;
    bottom: 150px;
    left: 10px;
    padding-right: 5px;
    padding-left: 5px;
}   
